[Unit]
Description=Maki Audio Helper
After=pipewire-pulse.service

[Service]
# ExecStartPre=/bin/sleep 2
ExecStart={{.installPath}}
Type=simple
# treat as a lowest priority program
Nice=19
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
